.clv-w-25 {
	width: 25% !important;
	max-width: 25% !important;
}

.clv-w-50 {
	width: 50% !important;
	max-width: 50% !important;
}

body.dark .record-view .field, .record-view label {
	color: black;
}

.record-view .row.layout-2cols > div, .record-view .row.layout-3cols > div {
	display:flex; /* Evita que se baje field */
}

.record-view label {
	font-weight:normal;
	color: gray;
	padding-right: 0;
	margin-right: 0;
}

.record-view .field {
	font-weight: bolder;
	padding-top: calc(0.375rem + 1px);
	padding-bottom: calc(0.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
}

.record-view .panel-toolbar {
	float:right;
	margin-top: 0;
}
.record-view .panel-primary {
	margin-bottom: 0px;
	border-bottom-radius: none;
	background-color: #2A3F54;
	border-color: #2A3F54;
}
.record-view .panel-primary > .panel-heading {
	padding: 4px 8px;
	width: 100%;
	display:flex;
	align-items: center;
	color: lightgray;
	background-color: #2A3F54;
	border-color: #2A3F54;
}
.record-view .panel-heading .panel-title {
	font-weight: bolder;
	font-size: larger;
}
.record-view .panel-toolbar {
	margin-left: auto;
}
.record-view .panel-toolbar a.btn {
	margin-bottom: 0;
}
.record-view .rv-btn-toolbar {
	padding-left: 10px;
	margin-bottom: 5px;
}
.record-view .rv-btn-toolbar .btn {
	margin-right: 5px;
}

.record-view .rv-embedded-list {
	border: 1px solid #ccc;
	padding: 6px 12px;
	flex: 3 0 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.record-view .rv-embedded-list label {
	flex: 3 0 50%;
}
.record-view .rv-embedded-list .actions {
	border: 1px solid #ccc;
	flex: 3 0 50%;
}
.record-view .rv-embedded-list > .field > label + div + div {
	flex: 3 0 100%;
}

.record-view .rv-embedded-list .panel-primary {
	background-color: gray;
	border-color: gray;
}

.record-view .rv-embedded-form > .field {
	flex: 3 0 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.record-view .rv-embedded-form > .field label {
	flex: 3 0 40%;
}
.record-view .rv-embedded-form > .field .field {
	border: 1px solid #ccc;
	flex: 3 0 60%;
}

.record-view .rv-embedded-grid .field {
	background-color: #d3ffff;
	flex: 3 0 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.record-view .rv-embedded-grid .field {
	padding: 0;
}

.record-view .rv-embedded-grid .field > div {
	width: 100%;
}
.record-view .rv-embedded-grid .field > div .pagination {
	margin:0;
	padding:0;
}
.record-view .rv-embedded-grid .field > div .kv-grid-container {
/* 	margin-left: -12px; */
	margin-right: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding:0;
}


.record-view .rv-embedded-grid > .field > label {
	flex: 3 0 50%;
}
.record-view .rv-embedded-grid > .field > label + div {
	border: 1px solid #ccc;
	flex: 3 0 50%;
}
.record-view .rv-embedded-grid > .field > label + div + div {
	flex: 3 0 100%;
}

.record-view .rv-embedded-grid .embedded-grid-header {
	padding: 0px 10px;
	display:flex;
	flex-direction: row;
	align-items: center;
}
.record-view .rv-embedded-grid .embedded-grid-header > div.title {
	font-size: 1.2em;
}

.record-view .rv-embedded-grid .embedded-grid-header > div {
	flex:1;
}

.record-view .rv-embedded-grid .embedded-grid-header > div.summary {
	text-align: right;
}

/* GRID VIEW */
@media not print {
	.grid-view .delete-button span {
		color: red;
	}
}

.grid-view .grid-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3px;
}

.grid-view.isbs4 .grid-header {
	display:flex;
}
.grid-view.isbs4 .grid-header > .summary {
	flex: 1;
}
.grid-view.isbs4 .grid-header > .pagination {
	flex: 1;
}

.grid-view .action-button.delete {
	color: red;
}

.grid-view .see-more-container {
	position: relative;
	max-width: 100px;
}

.grid-view .see-more-content {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 80%;
	display: inline-block
}

.grid-view th {
	white-space: nowrap;
}

.grid-group-head-1 {
	border-bottom: 1px solid blue;
	background-color: white;
	color: blue;
	font-weight: bold;
	font-size: larger;
}

.grid-group-foot-1 {
	text-align: right;
	border-top: 1px solid blue;
	font-weight: bold;
}

.grid-group-head-1, .grid-group-foot-1 {
	/*	background-color: gray;
	 *    color: white;*/
	font-size: 1.1em;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.grid-group-head-2, .grid-group-foot-2 {
	background-color: white;
	color: black;
	font-size: 1.1em;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 1rem;
}

.grid-group-foot-text-3::before {
	content: '++'
}
.grid-group-head-3::before {
	content: '++'
}
.grid-group-head-3, .grid-group-foot-3 {
	background-color: gray;
	color: white;
	font-size: 1.1em;
	padding-left: 10px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0px;
	margin-left: -5px;
	margin-right: 0px;
}

/* TABLE LIST VIEW */
.table-list-view .tlv-table {
	display:table;
	width:100%;
	border-collapse: collapse;
}

.table-list-view .summary {
	display:table-caption;
}
.table-list-view .tlv-header {
	display:table-header-group;
	border: 1px solid black;
	font-weight: bolder;
}
.table-list-view .tlv-header div {
	display:table-cell;
	padding: 0px 2px 0px 0px;
	width:auto;
}
.table-list-view .tlv-header div:first-child {
	display:table-cell;
	padding: 2px 2px;
	width:auto;
}
.table-list-view .tlv-row {
	display:table-row;
}
.table-list-view .tlv-field {
	width:auto;
	display:table-cell;
	padding: 1px 4px;
}
.table-list-view .tlv-number {
	text-align: right;
}
.table-list-view .tlv-date {
	width: 10ch;
}
.table-list-view ul.pagination {
	margin: 0px 0px 3px 0px;
}
.table-list-view .summary div div {
	margin-right: 10px;
	flex-grow:1;
}

/* REPORT VIEW */
.report .currency, .report .integer, .report .decimal, .report .hours {
	text-align: right;
}

.report .grand-total td {
	border-top: 2px solid blue;
	border-bottom: 2px solid blue;
	color: black;
	font-weight: bold;
	font-size: larger;
}

.report .total-label {
	text-align: right;
}

.report .group-total-label {
	text-align: right;
	border-bottom: 1px solid blue;
	color: black;
	font-weight: bold;
}

.report .group-head-1 {
	background-color: var(--bs-primary-bg);
	color: var(--bs-primary-color);
	border-bottom: 1px solid blue;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-right: 0px;
	font-weight: bold;
}

.report .group-foot-1 {
	border-top: 1px solid blue;
	font-weight: bold;
	color: blue;
}

.report .group-head-2, .report .group-foot-2 {
	background-color: var(--bs-primary-bg);
	color: var(--bs-primary-color);
	filter: brightness(150%);
    font-size: 1.1em;
    padding-left: 1rem;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
	font-style: italic;
}

.report .group-foot-2 {
	text-align: right;
}
.report .group-head-3, .group-foot-3 {
	background-color: var(--bs-primary-bg);
	color: var(--bs-primary-color);
	filter: brightness(150%);
    font-size: 1.1em;
    padding-left: 2rem;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0px;
    margin-left: 2rem;
	margin-right: 0px;
}


label.taxonomy {
	font-style: italic;
	font-size: smaller;
}

/* add sorting icons to gridview sort links */
[data-sort]:after, a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline; /* Evitar que el icono de ordenación se quede en una sola linea abajo */
	font-family: bootstrap-icons;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}
[data-sort]:after {
	content: "\f127";
}
[data-sort].asc:after {
	content: "\f571";
}
[data-sort].desc:after {
	content: "\f570";
}
[data-sort].sort-numerical.asc:after {
	content: "\f579";
}
[data-sort].sort-numerical.desc:after {
	content: "\f577";
}
