.grid-footer {
  display: flex;
  justify-content: space-between; }
  .grid-footer .grid-items-per-page {
    padding-left: 0;
    display: flex;
    min-width: 35px;
    max-height: 26px;
    list-style: none; }
    .grid-footer .grid-items-per-page li:first-child {
      cursor: default;
      background: #f8f8ff;
      border: 0px;
      cursor: default; }
/*      .grid-footer .grid-items-per-page li:first-child:hover {
        cursor: default;
        background: #f8f8ff;
        border: 0px;
        box-shadow: 0 0 0;
        color: #000; }*/
    .grid-footer .grid-items-per-page li {
      color: #000;
      cursor: pointer;
      margin-left: 6px;
      border: 1px solid gray; }
/*      .grid-footer .grid-items-per-page li:hover {
        background-color: rgba(156, 10, 125, 0.25);
        box-shadow: 0 0 3.5px #9c0a7d;
        color: black;
	}*/
      .grid-footer .grid-items-per-page li a {
        display: block;
        color: #000;
        padding-left: 8px;
        padding-right: 8px; }
      .grid-footer .grid-items-per-page li.current {
        background-color: rgba(156, 10, 125, 0.25);
        color: #f8f8ff; }
